@import "sass/variables";

.main-container {
  flex: 1;
  position: relative;
  display: grid;
  grid-template-rows: 165px 1fr;
  grid-template-areas: "header""map";
  overflow: hidden;
  text-align: center;

}
